@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

a
{
    text-decoration: none;
    color: white;
}

body
{   
    background-image: url(bg3.jpg);
    background-repeat:repeat-y;
     background-color: transparent;
    Font-size: 18px;
    font-family: Barlow, Fraunces;
}

.container
{
    width: 100%;
    padding: 0;
    margin: 0;
}

.logo-menu-bar-div
{
    background-color: transparent;
    box-sizing: border-box;
    padding: 0 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 2%;
}

.site-logo
{
    font-family: Fraunces;
    font-size: 1.5rem;
    font-weight: 900;
    color: black;
}

.site-logo a
{
    font-family: Fraunces;
    font-size: 3.5rem;
    font-weight: 900;
    color: white;
}

.menu-bar-ul
{
    background-color: inherit;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.menu-bar-li
{
    background-color: transparent;
    margin: 0 .5rem;
    padding: .8rem 1.6rem;
    color: white;
}

.menu-bar-li:last-child
{
    margin-right: 0;
}

.menu-bar-li:hover
{
    color: white;
    border-radius: 30px;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    text-transform: uppercase;
}

.menu-bar-li:active
{
    color: white;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.4);
}
  
.header-title-div
{
    background-color: transparent;
    position: absolute;
    text-align: center;
    top: 15%;
    left: 0;
    right: 0;
}

.header-title
{
    background-color: transparent;
    color: white;
    font-size: 3rem;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
}

.card
{
    margin-top: 6rem;
    border: none;
    display: flex;
    flex-direction: row;
}

.card-body
{
    background-color: transparent;
    color: white;
    font-size: 20px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;    
    border: 2px solid rgb(101, 240, 83);
    margin-left: 5rem;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgb(101, 240, 83);
    transition: 0.3s;
    font-weight:300;
}

.card-body:hover
{
    cursor: pointer;
    box-shadow: 0 8px 16px 0 white;
    border: 5px solid white;
    border-radius: 50px;
    margin-bottom: 3rem;
}

.icons
{
    margin-top: 40px;
    height: 70%;
    width: 70%;
}

.resource_name
{
    margin-top: 20px;
}


@media only screen and (max-width: 1000px) 
{
    .site-logo{
        font-size: 1rem;
        font-weight: 900;
        color: white;
    }
    .header-title--icon-div {
        top: 25%;
        left: 0;
        right: 0;
    }
    .header-title--icon-div svg{
        margin-top: 3rem;
    }
    .header-title{
        padding: 0 2rem;
        color: white;
        font-size: 2rem;
    }
    .logo-menu-bar-div{
        margin-top: 1.8rem;
        width: 100%;
        justify-content: center;
    }
    .menu-bar-ul{
        display: none;
    }
    .menu-bar-open{
        display: block;
        background:transparent;
        clip-path: polygon(0 15%, 88% 15%, 100% 5%, 100% 100%, 0 100%);
        top: 10%;
        width: 100%;
        height: 90vh;
        position: absolute;
        margin: 5rem auto;
        padding-top: 5rem;
        z-index: 10;
        text-align: center;
    }
    .menu-bar-open li{
        padding: .6rem 1.2rem;
        margin-top: 1rem;
        color: hsl(232, 10%, 55%);
    }
    .menu-bar-open li a, .menu-bar-open li a:active{
        color: hsl(232, 10%, 55%);
    }
    .menu-bar-open li a:hover{
        color: hsl(212, 27%, 19%);
        background: rgba(255, 255, 255, 0.4);
    }
    .menu-bar-li:hover, .menu-bar-li:active{
        border-radius: 30px;
        background: hsl(232, 10%, 55%);
        cursor: pointer;
        text-transform: uppercase;
        width: fit-content;
        margin: 1rem auto;
    }
    .menu-icon-div{
        display: block;
    }

    .card-body
    {
        margin-bottom: 20px;
        width: 40%;
    }

    .row-1
    {
        margin-top: 25rem;
        width: 100%;
        display: block;
        margin-bottom: 20px;
        margin-left: 18%;
    }

    .row-2
    {
        margin-top: 5rem;
        width: 100%;
        display: block;
        margin-bottom: 20px;
        margin-left: 18%;
    }

    .row-3
    {
        margin-top: 5rem;
        width: 100%;
        display: block;
        margin-bottom: 20px;
        margin-left: 18%;
    }

    .card-body:hover
    {
        cursor: pointer;
        box-shadow: 0 8px 16px 0 white;
        border: 5px solid white;
        border-radius: 25px;
        margin-bottom: 3rem;
    }

    .site-logo a
    {
        margin-left: auto;
    }

    .header-title {
        margin-top: 4rem;
        margin-bottom: 4rem;
        width: 100%;
        padding: 0 2rem;
        color: white;
        text-align: center;
        font-size: 2rem;
        margin-left: 13%;
    }

    #menubar
    {
        margin-top: 10rem;
    }
}